@use "./abstracts/abstracts" as *;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "settings";
@use "./themes/colors" as *;
@use "./base/typography" as *;
@use "./components/buttons" as *;
//tipografias
h1 {
  @include h1;
  font-family: "Merriweather", serif;
}
h2 {
  @include h2;
}
a {
  @include a;
}
p {
  @include p;
}
//botones
.button {
  @include button;
}
.learn_more {
  color: $white;
  display: inline-flex;
  align-items: center;

  &::after {
    content: url(../assets/Arrow.svg);
  }
}
//colores de fondo
body {
  background-color: $black;
}
//imagenes de fondo
body {
  background-image: url(../assets/ellipse.svg), url(../assets/ellipse.svg);
  background-repeat: no-repeat;
  background-size: auto, 800px;
  background-position:
    100% 250%,
    110% 250%;
}
//active
a {
  position: relative;
  &.active::after {
    content: "";
    background-color: $pink;
    width: 60%;
    height: 3px;
    display: block;
    position: absolute;
    top: 120%;
  }
}
