@use "../abstracts/mixins" as *;
@use "../themes/colors" as *;
header {
  margin-top: 30px;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  .logo {
    margin-right: 40%;
  }
  ul {
    @include reset_ul;
    a:hover {
      position: relative;
      color: $white;
      &::after {
        content: "";
        background-color: $pink;
        width: 60%;
        height: 3px;
        display: block;
        position: absolute;
        top: 120%;
      }
    }
  }
}
