header {
  display: flex;
  align-items: center;
  margin-top: 33px;
  position: absolute;
  top: 0;
  width: 100%;
  img.logo {
    margin-right: 10%;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 210px;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 46px;
      li.more a {
        display: flex;
        align-items: center;
      }
      li.sign_in a {
        text-decoration: underline;
      }
    }
  }
}
