.image1 {
  position: absolute;
  top: 18%;
  right: 40%;
}
.image2 {
  position: absolute;
  top: 18%;
  right: 26%;
}
.image3 {
  position: absolute;
  top: 28%;
  right: 12%;
}
.image4 {
  position: absolute;
  top: 73%;
  right: 40%;
}
.image5 {
  position: absolute;
  top: 46%;
  right: 26%;
}
