.opinions {
  article {
    max-width: 400px;
    background-color: #ffffff80;
    position: absolute;
    padding: 20px;
    border-radius: 16px;
    p {
      margin: 10px 0;
    }
  }
  .opinion1 {
    top: 35%;
    right: 3%;
  }
  .opinion2 {
    top: 60%;
    right: 12%;
  }
}
